.navbar-brand {
    font-weight: bold;
    font-size: 2.0rem;
}
.product-card {
    transition: transform 0.2s;
}
.product-card:hover {
    transform: scale(1.05);
}
footer {
    background-color: #f8f9fa;
    padding: 1.8rem 0;
}
.category-section {
    background-color: #f1f1f1;
    padding: 2rem 0;
}
.testimonials {
    background-color: #f8f9fa;
    padding: 2rem 0;
}
.navhover a:hover {
  background-color: skyblue;
  border-radius: 15px;
  font-size: 18px;
  color: black;
}
.head2 {
  position: relative;
  text-align: center;
  color: white;
}
.head2 img{
    height: 250px;
    max-width: 1400px;
    opacity: 30%;
    width: auto;
}
.head2_text{
  position: absolute;
  top: 50%;
  left: 50%;
  color: black;
  transform: translate(-50%, -50%);
}
#contact {
    background-color: #f9f9f9;
}
#contact h2 {
    color: #333;
}
#contact ul {
    padding-left: 0;
}
#contact ul li {
    font-size: 1.1rem;
}